@keyframes fade-in {
  0% {
    opacity: 0;

    top: 20px;
  }

  50% {
    opacity: 1;
  }
}

.add-bookmark {
  margin-bottom: 1.5rem;
}

.add-bookmark input {
  width: 100%;
  margin: 1.3rem auto;
  border-radius: 1rem;
  padding: 0.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.buttons > button {
  width: 50%;
}

.added {
  text-align: center;
  color: lightseagreen;
}
