@keyframes fade-out {
  0% {
    opacity: 1;
    max-height: 1;
  }
  50% {
    opacity: 1;
  }

  99% {
    max-height: fit-content;
  }
  100% {
    opacity: 0;
    max-height: 0;
  }
}

.add-bookmark {
  margin-bottom: 1.5rem;
}

.add-bookmark input {
  width: 100%;
  margin: 1.3rem auto;
  border-radius: 1rem;
  padding: 0.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.buttons > button {
  width: 50%;
}

.added {
  text-align: center;
  color: lightseagreen;
  animation: fade-out 2s linear;
  animation-fill-mode: forwards;
}
