/* resets / global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: white;
  background: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: monospace;
}

@media (min-width: 1000px) {
  body {
    width: fit-content;
    margin: auto;
  }
}

.body--hidden {
  overflow: hidden;
}

.app {
  margin: 1rem;
}

@media (min-width: 1000px) {
  .app {
    min-width: 701.2px;
    max-width: 701.2px;
  }
}

.header {
  width: fit-content;
  margin: 0 auto;
}

.error {
  color: red;
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  letter-spacing: 0.5rem;
  font-weight: 300;
  font-style: italic;
}

h2 {
  letter-spacing: 0.2rem;
  font-weight: 300;
}

a {
  color: white;
  line-break: anywhere;
}
input {
  display: block;
  font-family: monospace;
  border: 1px solid white;
}

input:focus {
  outline: none;
}

button {
  background: transparent;
  border: 1px solid;
  color: white;
  border: 1px solid white;
  padding: 0.8rem;
  border-radius: 2rem;
  cursor: pointer;
  display: block;
  font-family: monospace;
}

button:hover {
  background: rgba(37, 36, 36, 0.5);
}
