*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  margin: 1rem;
  max-width: 1000px;
}

@media (min-width: 1000px) {
  .app {
    min-width: 701.2px;
  }
}

h1 {
  letter-spacing: 0.5rem;
  font-weight: 300;
  font-style: italic;
}

h2 {
  letter-spacing: 0.2rem;
  font-weight: 300;
  /* font-style: italic; */
}

a {
  color: white;
  line-break: anywhere;
}
input {
  display: block;
  font-family: monospace;
  border: 1px solid white;
}

input:focus {
  outline: none;
}

button {
  background: transparent;
  border: 1px solid;
  color: white;
  border: 1px solid white;
  padding: 0.8rem;
  border-radius: 2rem;
  cursor: pointer;
  display: block;
  font-family: monospace;
}

button:hover {
  background: rgba(37, 36, 36, 0.5);
}

.header {
  width: fit-content;
  margin: 0 auto;
}
